/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Quitamos el color de fondo forzado para manejarlo con React */
  transition: background-color 0.3s, color 0.3s;
}

button {
  cursor: pointer;
}